.header {
  height: 112px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--slate-200);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link {
  color: var(--slate-500);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--black);
}

.logo {
  font-weight: 600;
}

.wrapper .hamburger {
  display: none;
}

@media (max-width: 810px) {
  .nav {
    display: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .wrapper .hamburger {
    display: flex;
  }
}
