html {
  background-color: var(--white);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: var(--white);
  font-size: 16px;
  color: var(--n1);
  min-width: 375px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

@media (max-width: 430px) {
  html {
    background-color: var(--n8);
  }
}
